@font-face {
    font-family: 'sinkinbold';
    src: url('/static/fonts/SinkinSans-700Bold.otf');
}
@font-face {
    font-family: 'sinkinmedium';
    src: url('/static/fonts/SinkinSans-500Medium.otf');
}
@font-face {
    font-family: 'sinkinlight';
    src: url('/static/fonts/SinkinSans-300Light.otf');
}

/** colors **/
@gold-color: #a68e3c;
@text-color: #000000;
@white: #ffffff;
@paragraph-size: .8rem;

/** widths **/
@mainWidth: 1200px;
@tabletWidth: 768px;
@wideMobileWidth: 480px;
@mobileLayout: 320px;

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    background: rgba(0,0,0,.5);
    margin-left: -15px;
    margin-right: -15px;
    display: none;
}

.content {
    height: calc(100vh - 58px);
    .sidebar {
        .menu-logo {
            display: block;
            margin-top: 3rem;
            margin-bottom: 2rem;
            img {
                max-width: 150px;
                margin-left: -25px;
            }
        }

        .menu-list {
            margin: 0 auto;
            list-style: none;
            padding: 0;
            width: 150px;
        }
        .menu, .submenu {
            display: block;
            color: @text-color;
            text-decoration: none;
            font-size: .8rem;
        }
        .menu {
            font-family: 'sinkinbold';
            margin-bottom: 1rem;
            margin-top: 2rem;
        }
        .submenu {
            font-family: 'sinkinlight';
            padding-left: 1rem;
            margin-bottom: .5rem;
        }

        .submenu.other {
            margin-top: 2rem;
        }
    }

    .rightside-content {
        padding: 0;
        background: url('../images/alpaca_back.png');
        background-size: cover;
        background-position: center;
        position: relative;


        .square2 {
            height: 100%;
            margin: 0;
            z-index: 10;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;


            .img-block-static {
                z-index: 5;
                padding-left: 0;
                padding-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;
                height: 100%;
            }
            .text {
                background: rgba(255, 255, 255, .5);
                display: block;
                flex-direction: column;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 10%;
                align-items: flex-start;

                h4 {
                    font-family: 'sinkinbold';
                    z-index: 2;
                    font-size: 1rem;
                    user-select: none;
                    margin-bottom: 2rem;
                    user-select: none;
                }
                p {
                    font-family: 'sinkinmedium';
                    text-align: justify;
                    font-size: .8rem;
                    user-select: none;
                    a {
                        display: inline;
                        padding-left: 1rem;
                        margin-top: 0;
                        font-family: inherit;
                        width: auto;
                        font-size: inherit;
                        cursor: pointer;
                        user-select: none;
                        color: @text-color;
                        text-decoration: underline;
                    }
                }
                a {
                    display: block;
                    margin-top: 2rem;
                    font-family: 'sinkinbold';
                    width: 100%;
                    display: block;
                    text-align: right;
                    font-size: .9rem;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }

        .square4 {
            height: 100%;
            margin: 0;
            z-index: 10;

            .bigscreen {
                transition: all 1s ease;
                z-index: 20 !important;
                max-width: 100%;
                flex: 100%;
                width: 100%;
                height: 100%;
            }
            .img-block {
                z-index: 5;
                padding-left: 0;
                padding-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-background-size: cover !important;
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                transition: 1s;
                text-decoration: none;
                .blockbackground {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    z-index: 0;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    background-position: center !important;
                }

                .white-mask {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, .4);
                }

                h4 {
                    font-family: 'sinkinbold';
                    z-index: 2;
                    font-size: 1rem;
                    user-select: none;
                    text-transform: none;
                    text-decoration: none;
                    color: @text-color;
                }
            }
            .img-block:hover {
                cursor: pointer;
                .white-mask {
                    background: rgba(255, 255, 255, .1);
                    -webkit-animation: fadeInFromNone 0.5s ease-out;
                    -moz-animation: fadeInFromNone 0.5s ease-out;
                    -o-animation: fadeInFromNone 0.5s ease-out;
                    animation: fadeInFromNone 0.5s ease-out;
                }
            }
        }

        .language {
            position: absolute;
            font-family: 'sinkinbold';
            font-size: 1.1rem;
            top: 3%;
            right: 3%;
            z-index: 10;

            a {
                display: inline;
                color: @text-color;
                text-decoration: none;
                user-select: none;
            }
            span {
                margin-left: .25rem;
                margin-right: .25rem;
                user-select: none;
            }
        }

        .news-box {
            position: absolute;
            background: rgba(255, 255, 255, .6);
            width: 230px;
            padding: 15px;

            bottom: 2rem;
            left: 2rem;

            .square {
                width: 8px;
                height: 8px;
                background: @text-color;
                display: inline-block;
            }
            .square.top {
                display: block;
                margin-bottom: 5px;
            }
            h2 {
                font-size: .9rem;
                font-family: 'sinkinbold';
            }
            h3 {
                font-size: .8rem;
                font-family: 'sinkinmedium';
            }
            p {
                font-family: 'sinkinmedium';
                font-size: .6rem;
                margin-bottom: 0;
            }
            a {
                width: 90%;
                display: inline-block;
                text-align: right;
                color: @text-color;
                font-size: .7rem;
                text-decoration: none;
            }
        }
    }

    /*.rightside-content.ourstory {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;

        .square4 {

            .ourgenes {
                background: url("/static/images/ourgenes.png");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .pacomarca {
                background: url("/static/images/pacomarcahero.png");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .ourcommunity {
                background: url("/static/images/ourcommunity.png");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .ourfibers {
                background: url("/static/images/ourfibershome.png");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .rightside-content.ourgenes {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;

        .square4 {
            height: 100%;
            margin: 0;
            z-index: 10;

            .history {
                background: url("/static/images/history-genes.png");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
            }
            .mision {
                background: url("/static/images/misionvision-genes.png");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .values {
                background: url("/static/images/values-genes.png");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .rightside-content.history {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;
        .language {
            z-index: 5;
        }

        .square2 {
            background: url("/static/images/history-big.jpg");
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .rightside-content.misionvision {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;
        .language {
            z-index: 5;
        }

        .square2 {
            background: url("/static/images/misionvision-big.jpg");
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .rightside-content.values {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;
        .language {
            z-index: 5;
        }

        .square2 {
            background: url("/static/images/values-big.jpg");
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .rightside-content.pacomarca {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;

        .square4 {
            height: 100%;
            margin: 0;
            z-index: 10;

            .herdsman {
                background: url("/static/images/herdsmanhut.jpg");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .incashearing {
                background: url("/static/images/incashearing.jpg");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .blackalpaca {
                background: url("/static/images/blackalpaca.jpg");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .geneticprogram{
                background: url("/static/images/geneticprogram.jpg");
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    .rightside-content.herdsmanhut {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;
        .language {
            z-index: 5;
        }

        .square2 {
            background: url("/static/images/herdsmanhut.jpg");
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .text {

                p {
                    a {
                        display: inline;
                        padding-left: 1rem;
                        margin-top: 0;
                        font-family: inherit;
                        width: auto;
                        font-size: inherit;
                        cursor: pointer;
                        user-select: none;
                        color: @text-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .rightside-content.incashearing {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;
        .language {
            z-index: 5;
        }

        .square2 {
            background: url("/static/images/incashearing.jpg");
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .text {
                p {
                    a {
                        display: inline;
                        margin-top: 0;
                        font-family: inherit;
                        width: auto;
                        font-size: inherit;
                        cursor: pointer;
                        user-select: none;
                        color: @text-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .rightside-content.blackalpaca {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;
        .language {
            z-index: 5;
        }

        .square2 {
            background: url("/static/images/blackalpaca.jpg");
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .text {
                p {
                    a {
                        display: inline;
                        margin-top: 0;
                        font-family: inherit;
                        width: auto;
                        font-size: inherit;
                        cursor: pointer;
                        user-select: none;
                        color: @text-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .rightside-content.geneticprogram {
        background: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 10;
        position: relative;
        .language {
            z-index: 5;
        }

        .square2 {
            background: url("/static/images/geneticprogram.jpg");
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .text {
                p {
                    a {
                        display: inline;
                        margin-top: 0;
                        font-family: inherit;
                        width: auto;
                        font-size: inherit;
                        cursor: pointer;
                        user-select: none;
                        color: @text-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }*/
}

.keyframes(@name,@rules) {

    @-webkit-keyframes @name {
        @rules();
    }

    @-moz-keyframes @name {
        @rules();
    }

    @-ms-keyframes @name {
        @rules();
    }

    @-o-keyframes @name {
        @rules();
    }

    @keyframes @name {
        @rules();
    }
}

.keyframes(fadeInFromNone, {
    0% {
        background: rgba(255, 255, 255, .4);
    }

    50% {
        background: rgba(255, 255, 255, .3);
    }

    100% {
        background: rgba(255, 255, 255, .1);
    }
});

.keyframes(growscreen, {
    25% {
        width: auto;
        height: auto;
    }

    50% {
        width: 50%;
        height: 50%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
});


#video{
    position: relative;
    background: transparent;
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
}

.ytplayer-container{
    position: absolute;
    top: 0;
    z-index: -1;
}

.footer {
    padding-top: 1rem;

    .brands {
        a {
            margin: 0 1rem;
            img {
                height: 25px;
            }
        }
    }

    .social {
        text-align: right;
        padding-right: 2%;
        a {
            color: @text-color;
            text-decoration: none;
            font-size: 1.5rem;
            display: inline-block;
            margin: 0 .5rem;
        }
    }
}
.navbar {
    display: none;
}

/* Tablet Layout */
@maxTabletWidth: @mainWidth;
@media only screen and (min-width: @tabletWidth) and (max-width: @maxTabletWidth) {
    .content {
        .sidebar {
            .menu-logo {
                margin-bottom: 3rem;
            }
        }
    }
    .footer {
        .brands {
            a {
                margin: 0 .5rem;
                img {
                    height: 15px;
                }
            }
        }
        .social {
            a {
                margin: 0 0.25rem;
            }
        }
    }
    .rightside-content {
        background-position: right !important;
    }
    .navbar {
        display: none;
    }
}

/* Mobile Layout */
@maxMobileWidth: @wideMobileWidth;
@media only screen and (max-width: @maxMobileWidth) {
    .menu, .submenu {
        display: block;
        color: @text-color;
        text-decoration: none;
        font-size: .7rem;
    }
    .menu {
        font-family: 'sinkinbold';
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
    .submenu {
        font-family: 'sinkinlight';
        padding-left: .5rem !important;
    }

    .submenu.other {
        margin-top: 1rem;
    }
    .content {
        .rightside-content {
            background-position: right !important;
        }
        .sidebar {
            display: none;
        }
    }
    .navbar {
        display: flex;
    }

    .footer {
        .brands {
            text-align: center;
            margin-top: 15px;
            a {
                margin: .5rem 1rem;
                display: inline-block;
            }
        }
        .social {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
}