{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="images/logo_icon.png">
        <title>Incatops | Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet/less" type="text/css" href="{% static 'less/style.less' %}"/>
        <script>
            less = {
              env: "development",
              async: false,
              fileAsync: false,
              poll: 1000,
              functions: {},
              dumpLineNumbers: "comments",
              relativeUrls: false
            };
          </script>
        <script src="{% static 'js/less.min.js' %}" type="text/javascript"></script>
    </head>
    <body>        
        <div class="container-fluid">
            <div class="loader">
                <img src="{% static 'images/loading2.svg' %}">
            </div>

            <nav class="navbar navbar-light bg-white only-cel">
                <a class="navbar-brand" href="/">
                    <img draggable="false" src="{% static 'images/logo.png' %}" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="#" class="nav-link menu">OUR STORY</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Our genes</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Pacomarca</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Our Community</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Our Fibers</a></li>
                        <li class="nav-item"><a href="#" class="nav-link menu">OUR PRODUCTS</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Hand Knitting</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Industrial</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Stock Service</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Tops</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu other">News</a></li>
                        <li class="nav-item"><a href="#" class="nav-link submenu">Contact Us</a></li>
                    </ul>
                </div>
            </nav>


            <div class="row content">
                <div class="col-sm-3 col-md-4 col-lg-2 sidebar">
                    <a href="/" class="menu-logo text-center">
                        <img draggable="false" src="{% static 'images/logo.png' %}" class="img-fluid">
                    </a>

                    <ul class="menu-list">
                        <li><a href="/ourstory/" class="menu">OUR STORY</a></li>
                        <li><a href="/ourstory/ourgenes/" class="submenu">Our genes</a></li>
                        <li><a href="/ourstory/pacomarca/" class="submenu">Pacomarca</a></li>
                        <li><a href="/ourstory/ourcommunity/" class="submenu">Our Community</a></li>
                        <li><a href="/ourstory/ourfibers/" class="submenu">Our Fibers</a></li>
                        <li><a href="#" class="menu">OUR PRODUCTS</a></li>
                        <li><a href="#" class="submenu">Hand Knitting</a></li>
                        <li><a href="#" class="submenu">Industrial</a></li>
                        <li><a href="#" class="submenu">Stock Service</a></li>
                        <li><a href="#" class="submenu">Tops</a></li>

                        <li><a href="#" class="submenu other">News</a></li>
                        <li><a href="#" class="submenu">Contact Us</a></li>
                    </ul>


                </div>
                {% block content %}
                {% endblock %}
            </div>


            <div class="row footer">
                <div class="col-sm-3 col-md-4 col-lg-2 text-center">
                    <img draggable="false" src="{% static 'images/alpaca.png' %}" class="img-fluid">
                </div>
                <div class="col-sm-7 col-md-6 col-lg-8 brands">
                    <a target="_blank" href="http://kuna.com.pe/">
                        <img draggable="false" src="{% static 'images/logokuna.svg' %}">
                    </a>
                    <a target="_blank" href="http://www.grupoinca.com/">
                        <img draggable="false" src="{% static 'images/logogrupo.svg' %}">
                    </a>
                    <a target="_blank" href="https://www.incalpaca.com/">
                        <img draggable="false" src="{% static 'images/logoincalpaca.svg' %}">
                    </a>
                    <a target="_blank" href="http://www.pacomarca.com/">
                        <img draggable="false" src="{% static 'images/logopacomarca.svg' %}">
                    </a>
                    <a target="_blank" href="http://whyalpaca.com/">
                        <img draggable="false" src="{% static 'images/logowhy.svg' %}">
                    </a>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 social">
                    <a target="_blank" href="https://www.pinterest.com/incatops/">
                        <i class="fab fa-pinterest-square"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/IncaTopsAlpaca/">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.youtubebackground.js' %}"></script>
        
        {% block extrajs %}
        {% endblock %}

        <script>

            $('body').on('click', '.menu-logo', function (event) {
                event.preventDefault();
                $('.loader').css('display', 'flex');

                setTimeout(function(){
                    var token = $('input[name=csrfmiddlewaretoken]').val();

                    var url = $(event.currentTarget).attr('href');

                    $.post( url, { csrfmiddlewaretoken: token })
                        .done(function( data ) {

                            html = data.response;
                            $('#right-side').removeClass();

                            $('#right-side').addClass('col-sm-9');
                            $('#right-side').addClass('col-md-8');
                            $('#right-side').addClass('col-lg-10');
                            $('#right-side').addClass('rightside-content');
                            $('#right-side').html($(html).find(".rightside-content").html());
                            history.pushState(null, '', url);
                            setTimeout(function(){
                                $('.loader').css('display', 'none');
                                $('#video').YTPlayer({
                                    fitToBackground: true,
                                    videoId: 'id8LxOI0Y40',
                                    repeat: true
                                });
                            }, 500);

                        }
                    );
                }, 500);
            });
            

            $('body').on('click', '.img-block', function(event) {
                event.preventDefault();
                var $fsm = document.querySelectorAll('.img-block');
                var $fsmActual = document.getElementById('fsm_actual');
                // var fsmActual = $('#fsm_actual');
                if ($fsmActual) {
                    $fsmActual.style.position = "absolute";
                }

                var $this = event.currentTarget;
                var position = $this.getBoundingClientRect();
                var size = {
                    width: window.getComputedStyle($this).width,
                    height: window.getComputedStyle($this).height
                };

                console.log('size 1');
                console.log(size.width + ' - ' + size.height);
                console.log('size 2');
                console.log($($this).width() + ' - ' + $($this).height());

                $fsmActual.style.position = "absolute";
                $fsmActual.style.top = $($this).position().top + 'px';
                $fsmActual.style.left = $($this).position().left + 'px';
                // $fsmActual.style.height = size.height;
                $fsmActual.style.height = $($this).height() + 'px';
                // $fsmActual.style.width = size.width;
                $fsmActual.style.width = $($this).width() + 'px';
                $fsmActual.style.margin = $this.style.margin;


                setTimeout(function(){
                    $fsmActual.innerHTML = $this.innerHTML;
                    var classes = $this.classList.value.split(' ');
                    for (var i = 0; i < classes.length; i++) {
                        $fsmActual.classList.add(classes[i]);
                    }
                    $fsmActual.classList.add('growing');
                    $fsmActual.style.height = '100%';
                    $fsmActual.style.width = '100%';
                    $fsmActual.style.top = '0';
                    $fsmActual.style.left = '0';
                    $fsmActual.style.margin = '0';
                    $('#fsm_actual').css('max-width', '100%');
                    $('#fsm_actual').css('z-index', '30');
                }, 1);

                setTimeout(function(){
                    $fsmActual.classList.remove('growing');
                    $fsmActual.classList.add('full-screen')
                }, 1000);

                setTimeout(function () {
                    if (window.location.pathname ===  $(this).attr('href') ) {
                        return;
                    }
                    var token = $('input[name=csrfmiddlewaretoken]').val();
                    $('.loader').css('display', 'flex');
                    $('#right-side').css('z-index', '-2');
                    var url = $(event.currentTarget).attr('href');

                    $.post( url, { csrfmiddlewaretoken: token })
                        .done(function( data ) {
                            html = data.response;
                            $('#right-side').html($(html).find("#right-side").html());
                            history.pushState(null, '', url);
                            setTimeout(function(){
                                $('.loader').css('display', 'none');
                                $('#right-side').css('z-index', '0');
                            }, 500);

                        }
                    );
                }, 1000);
            });
        </script>
        
        {% csrf_token %}
        <script>
            $('.menu-list a').click(function (e) {
                e.preventDefault();
                if (window.location.pathname ===  $(this).attr('href') ) {
                    return;
                }
                var token = $('input[name=csrfmiddlewaretoken]').val();
                $('.loader').css('display', 'flex');
                $('#right-side').css('z-index', '-2');
                var url = $(this).attr('href');

                $.post( url, { csrfmiddlewaretoken: token })
                    .done(function( data ) {
                        
                        html = data.response;
                        $('#right-side').html($(html).find("#right-side").html());
                        history.pushState(null, '', url);
                        setTimeout(function(){
                            $('.loader').css('display', 'none');
                            $('#right-side').css('z-index', '0');
                        }, 500);
                        
                    }
                );
            });
        </script>
        <script>
            $('body').on('click', '.goback', function(event) {
                event.preventDefault();
                window.history.back();
            });

            if( window.history && window.history.pushState ){
                $(window).on( "popstate", function(event){
                    event.preventDefault();
                    var url = window.location.pathname;

                    var token = $('input[name=csrfmiddlewaretoken]').val();
                    $('.loader').css('display', 'flex');
                    $('#right-side').css('z-index', '-2');
                    $.post( url, { csrfmiddlewaretoken: token })
                        .done(function( data ) {

                            html = data.response;
                            $('#right-side').empty();
                            $('#right-side').html($(html).find("#right-side").html());

                            history.pushState(null, '', url);
                            setTimeout(function(){
                                $('.loader').css('display', 'none');
                                $('#right-side').css('z-index', '0');
                                if (url === '/') {
                                    $('#video').YTPlayer({
                                        fitToBackground: true,
                                        videoId: 'id8LxOI0Y40',
                                        repeat: true
                                    });
                                }
                            }, 500);

                        }
                    );

                    /*if( !event.originalEvent.state ){
                        console.log('state3');
                        history.pushState( "nohb", null, "" );
                        return;
                    }*/
                });
            }

        </script>
    </body>
</html>