{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content blackalpaca">
        <div class="row square2">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                <h4>BLACK ALPAKA</h4>
                <p>The Black Alpaka program seeks to provide incentives for breeding alpacas with pure black fiber in an effort to restore this population, which has diminished dramatically to the point where it accounts for only 0,03% of all alpaca fiber production in Peru.</p>
                <p>An intensive breeding program has begun in Pacomarca in order to create a gene bank to support herdsmen and farmers interested in raising black alpacas. The 'Huacayo negro' category has therefore been included in the 'Quintal del Inca' fiber contest and market prices for pure black fiber have improved substantially. By purchasing this fiber you are directly contributing to the preservation of this unique natural color and to improving the farmers' incomes.</p>
                <p>Find out more: <a href="http://www.incatops.com/news/#!/posts/THE-NATURAL-BLACK-ALPACA-COLLECTION/17" target="_blank">Inca Tops News</a></p>
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}