{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content {{ context.page.menuname }}">
        <div class="row square2" style="background: url({{ context.page.image.url }})">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                {{ context.page.text|safe }}
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}