{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content geneticprogram">
        <div class="row square2">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                <h4>GENETIC PROGRAM</h4>
                <p>Pacomarca is home to the most advanced alpaca-related genetic improvement program in the world. This program involves selecting the animals with the fiber which is most valuable to the textile market, breeding them using advanced genetic management tools and sharing these with small-scale Andean farmers.</p>
                <p>The program has created the world´s largest and most complete database, which runs on the PACO PRO 5.0 program, designed specifically for this purpose. The database currently includes about 5 million data. With the collaboration of the Universidad Complutense de Madrid in Spain, and using the data from PACO PRO, it has been possible to establish a 'genetic evaluation' for all the animals at Pacomarca. Both the information and animals are indispensable in order to continue to help communities improve the value and quality of their fiber.</p>
                <p>Find out more: <a href="http://pacomarca.com/paco-pro-in.html" target="_blank">Pacomarca</a></p>
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}