{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content herdsmanhut">
        <div class="row square2">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                <h4>HERDSMAN'S HUT</h4>
                <p>Herdsman's Hut is a program that aims to improve the homes of alpaca farmers living at altitudes of over 4000 meters above sea level, in very precarious conditions due to a cold and inhospitable climate. Two prototypes have been built at the Pacomarca farm for its resident herdsmen, with plans to replicate these houses all over the Andes in collaboration with key partners.</p>
                <p>The homes are made with local material and incorporate a variety of technological and sustainable elements that substantially improve the living conditions of their occupants, including solar energy, an indoor vegetable garden and guinea-pig run, insulation and improved stoves. Please contact us if you wish to contribute to this program.</p>
                <p>Find out more: <a href="http://pacomarca.com/the-shepherdos-hut.html" target="_blank">Pacomarca</a></p>
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}