{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content history">
        <div class="row square2">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                <h4>HISTORY</h4>
                <p>Since its founding in 1965, INCA TOPS has developed, with considerable success, the production of alpaca tops and yarns of the world's best quality. This has been achieved through innovative concepts and an ancient and noble tradition. Today we offer yarns in alpaca, wool and cotton, as well as special blends incorporating other noble fibers of elegant beauty and fine quality aimed at the hosiery trade as well the market for hand-knitting yarns. We are proud to be able to provide jobs that directly benefit more than one thousand families in Peru and, through our Social Responsibility Programs, to be able to assist in the progress of many more, including small knitting companies and entrepreneurs and especially rural families, who make a living from alpaca farming.</p>
                <p>Find out more: Grupo Inca | Video</p>
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}