{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content incashearing">
        <div class="row square2">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                <h4>INCA SHEARING</h4>
                <p>Inca Shearing is a system developed by Pacomarca to improve the conditions of the alpaca-shearing process and to achieve better yields during the selection of the fiber. The system helps to avoid the contamination of the fiber, as well as preventing abortions among pregnant female alpacas. Furthermore, it increases the herdsmen's incomes and creates jobs in remote Andean communities.</p>
                <p>Pacomarca has been organizing training courses among breeders and working together with the national government to turn this system into the National Technical Standard on Alpaca Shearing. Pacomarca has already implemented campaigns for the direct purchase of fiber obtained using the Inca Shearing technique. These campaigns generate incomes that are above average for participating breeders, and it is possible to obtain 100% traceable fiber Please contact us for further information on the  availability of fully traceable lots.</p>
                <p>Find out more: <a href="http://pacomarca.com/inca-shearing.html" target="_blank">Pacomarca</a> | <a href="http://www.incatops.com/news/index.html#!/posts/NEW-PERUVIAN-TECHNICAL-REGULATION-BASED-ON-INCA-ESQUILA/14" target="_blank">Inca Tops News</a></p>
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}