{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content">
        <div id="video"></div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>

        <div class="news-box">
            <span class="square top"></span>
            <h2>NEWS</h2>
            <h3>H & H FAIR COLOGNE</h3>
            <p>
                For the seven consecutive year  we will take part in the h + h textile fair in Cologne,
            </p>
            <p>
                Germany.
            </p>
            <a href="#">read more ></a> <span class="square"></span>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $('#video').YTPlayer({
            fitToBackground: true,
            videoId: 'id8LxOI0Y40',
            repeat: true
        });
    </script>
{% endblock %}