{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content misionvision">
        <div class="row square2">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                <h4>MISSION</h4>
                <p>To offer the world unique experiences by delivering excellent products and services, while displaying the creativity and innovation which typify our ancient cultural identity</p>
                <h4>VISION</h4>
                <p>To go beyond time and work responsibly with the aim of contributing to a better environment</p>
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>

{% endblock %}