{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content ourgenes">
        <div class="row square4">
            <div id="fsm_actual"></div>
            <a class="col-sm-12 img-block history" href="/ourgenes/history/">
                <div class="white-mask"></div>
                <h4>HISTORY</h4>
            </a>
            <a class="col-sm-6 img-block mision" href="/ourgenes/misionvision/">
                <div class="white-mask"></div>
                <h4>MISSION & VISION</h4>
            </a>
            <a class="col-sm-6 img-block values" href="/ourgenes/values/">
                <div class="white-mask"></div>
                <h4>VALUES</h4>
            </a>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}