{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content ourstory">
        <div class="row square4">
            <div id="fsm_actual"></div>
            <a class="col-sm-6 img-block ourgenes" href="/ourgenes/">
                <div class="white-mask"></div>
                <h4>OUR GENES</h4>
            </a>
            <a class="col-sm-6 img-block pacomarca" href="/pacomarca/">
                <div class="white-mask"></div>
                <h4>PACOMARCA</h4>
            </a>
            <a class="col-sm-6 img-block ourcommunity">
                <div class="white-mask"></div>
                <h4>OUR COMMUNITY</h4>
            </a>
            <a class="col-sm-6 img-block ourfibers">
                <div class="white-mask"></div>
                <h4>OUR FIBERS</h4>
            </a>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}