{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content pacomarca">
        <div class="row square4">
            <div id="fsm_actual"></div>
            <a class="col-sm-6 img-block herdsman" href="/pacomarca/herdsmanhut/">
                <div class="white-mask"></div>
                <h4>HERDSMAN HUT</h4>
            </a>
            <a class="col-sm-6 img-block incashearing" href="/pacomarca/incashearing/">
                <div class="white-mask"></div>
                <h4>INCA SHEARING</h4>
            </a>
            <a class="col-sm-6 img-block blackalpaca" href="/pacomarca/blackalpaca/">
                <div class="white-mask"></div>
                <h4>BLACK ALPAKA</h4>
            </a>
            <a class="col-sm-6 img-block geneticprogram" href="/pacomarca/geneticprogram/">
                <div class="white-mask"></div>
                <h4>GENETIC PROGRAM</h4>
            </a>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}