{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content {{ context.page.menuname }}">
        <div class="row square4">
            <div id="fsm_actual"></div>
            {% if context.subpages|length == 4 %}
                {% for sub in context.subpages %}
                    <a class="col-sm-6 img-block {{ sub.menuname }}" href="/{{ context.page.subpage.menuname }}/{{ context.page.menuname }}/{{ sub.menuname }}/" >
                        <div class="blockbackground" style="background: url({{ sub.image.url }})">
                        </div>
                        <div class="white-mask"></div>
                        <h4>{{ sub.title }}</h4>
                    </a>
                {% endfor %}
            {% endif %}

            {% if context.subpages|length == 3 %}
                {% for sub in context.subpages %}
                    {% if forloop.counter == 1 %}
                        <a class="col-sm-12 img-block {{ sub.menuname }}" href="/{{ context.page.subpage.menuname }}/{{ context.page.menuname }}/{{ sub.menuname }}/" >
                            <div class="blockbackground" style="background: url({{ sub.image.url }})">
                            </div>
                            <div class="white-mask"></div>
                            <h4>{{ sub.title }}</h4>
                        </a>
                    {% endif %}
                    {% if forloop.counter > 1 %}
                        <a class="col-sm-6 img-block {{ sub.menuname }}" href="/{{ context.page.subpage.menuname }}/{{ context.page.menuname }}/{{ sub.menuname }}/" >
                            <div class="blockbackground" style="background: url({{ sub.image.url }})">
                            </div>
                            <div class="white-mask"></div>
                            <h4>{{ sub.title }}</h4>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>
    
{% endblock %}