{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="right-side" class="col-sm-9 col-md-8 col-lg-10 rightside-content values">
        <div class="row square2">
            <div class="col-sm-6 img-block-static image-side">
            </div>
            <div class="col-sm-6 img-block-static text">
                <h4>VALUES</h4>
                <p><strong>Integrity</strong> to work with integrity and honesty.</p>
                <p><strong>Responsibility</strong> to comply opportunely and efficiently with our contractual obligations.</p>
                <p><strong>Respect</strong> to value people and threat them respectfully in order to create a mutual atmosphere of trust.</p>
                <p><strong>Innovation</strong> to be able to make changes through the use of novel approaches.</p>
                <p><strong>Flexibility</strong> to be able to adapt to new circumstances.</p>
                <p><strong>Working as a team</strong> to share the tasks in order to achieve a common goal, setting the goal of the group before the individual goal.</p>
                <a class="goback">< BACK</a>
            </div>
        </div>
        <div class="language">
            <a href="#">EN</a><span>|</span><a href="#">ES</a>
        </div>
    </div>

{% endblock %}